build/*
.vscode/*
coverage/*
node_modules/*
.DS_Store

coverage/
coverage.json

keystore/*
keystore.json
keys.ts

cache/*
cache

artifacts/*
artifacts

.openzeppelin

config/address.json
typechain/
*.log

flatten

test.spec.ts
node_modules
.env
